<% if !!current_user %>
<h3><center><%= "#{current_user.name}'s Pets!" %></center></h2>
<% end %>
<% if @pets.count == 0 %>
<h5><%= "You haven't added any pets!" %></h5>
<% else %>
<h5><%="You have #{@pets.count} pet(s)."%></h5>
<% end %>
<p>Recently Viewed: <%= @pet ? @pet.name : "You haven't viewed any pets." %></p>
<table style="width:100%">
<ul>
  <% @pets.each do |pet| %>
    <li><a href="/pet/<%= pet.id %>"><%= pet.name %></li>
  <% end %>
</ul>
<form action="/pet/new<%=  %>" method="post">
  <a href="/pet/new" class="btn-small pink lighten-3">Add Pet</a> 
</div>
</table>