<center><h2><%= "Editing #{@current_user.name}"%></h2>
<form action="/profile/<%= @current_user.id %>" method="post">
<input type="hidden" name="_method" value="patch">
  <div class="input-field">
    <input type="text" name="user[name]" id="name" class="validate" value="<%=@current_user.name%>">
      <label for="name">First Name</label>
  </div>
  <div class="input-field">
    <input type="text" name="user[lastname]" id="lastname" class="validate" value="<%=@current_user.lastname%>">
      <label for="lastname">Last Name</label>
  </div>
  <div class="input-field">
    <input type="text" name="user[username]" id="username" class="validate" value="<%=@current_user.username%>">
      <label for="username">Username</label>
  </div>
  <div class="input-field">
      <input type="text" class="datepicker" id="birthday" name="user[birthday]" class="validate" value="<%=@current_user.birthday%>">
        <label for="birthday">Birth Date</label>
  </div>
  <div class="input-field">
    <input type="text" name="user[email]" id="email" class="validate" value="<%=@current_user.email%>">
      <label for="email">E-Mail</label>
  </div>
  </center>
</form>
<img src="/images/pettrackertransparent.png" class="circle responsive-img" width="300" height="300">
<script>
$(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>